.about-info {
  margin-top: 2%;
  width: 50%;
  height: 100%;
  display: inline-block;
  text-align: justify;
}

h2 {
  margin-top: 3%;
}

.team {
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.person {
  width: 200px;
  height: 260px;
  float: left;
  margin: 0 30px 30px 0;
}

.name {
  font-weight: bold;
}

.kontaktinformacija {
  margin-bottom: 2%;
}
/*# sourceMappingURL=about.css.map */