$search-color: #69737F;
$primary: #60847B;
$secondary: #405952;
$active: #53736A;

@mixin form-group {
    .form-group {
        position: relative;
        margin: 1rem;
        width: 30%;

        .label-custom {
            position: relative;
            width: 100%;
            color: $search-color;
            font-size: 24px;
            font-weight: 600;
            display: block;
            text-align: left;
        }

        .input-custom {
            position: relative;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            color: $search-color;
            border: 3px solid $search-color;
            border-radius: 10px;
            outline: none;
            padding: 15px 20px;
        }
    }
}
@mixin btn-custom {
    .btn-custom {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: white;
        width: 20%;
        padding: 20px;
        margin: 20px;
        background-color: $primary;
        border: none;
        border-radius: 10px;
        outline: none;
        box-shadow: $secondary 0px 10px 0px 0px;
        transition: width 0.2s;

        &:hover {
            width: 22%;
        }

        &:active {
            background-color: $active;
        }

    }
    
}

*{
    font-family: "montserrat";
}

.form-login{
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 58.5rem;
    z-index: -1;
    @include form-group;

    @include btn-custom;


    .container-bottom{
        position: relative;
        margin: 50px;
        display: inline-block;
        font-weight: 600;
        font-size: 18px;
        .btn-signup{
            position: relative;
            color: white;
            padding: 15px 20px;
            border: none;
            border-radius: 10px;
            outline: none;
            background-color: $primary;
            font-size: 16px;
            margin-left: 20px;
            transition: background-color 0.2s;

            &:hover{
                background-color: $active;
            }
        }
    }
}

.form-signup {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    height: 58.5rem;
    z-index: -1;
    @include form-group;

    @include btn-custom;
}

.background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 50vh;
    background-image: url('../../../../images/Form/Path.svg');
    background-repeat: no-repeat;
    z-index: -2;
}


@media only screen and (max-width: 1200px) {
    .form-group {
        width: 50% !important;
    }

    .btn-custom {
        width: 30% !important;
    }
}

@media only screen and (max-width: 1000px){
    .form-group{
        width: 60% !important;
    }
    .btn-custom{
        width: 40% !important;
    }
}

@media only screen and (max-width: 600px) {
    .form-group {
        width: 70% !important;
    }

    .btn-custom {
        width: 50% !important;
        font-size: 18px !important;
    }
}
