$darker-green: #405952;
$dark-green: #60847B;
$dark-gray: #717171;
$light-gray: #E2E2E2;
$purple: #7F00FF;

@mixin filter-btn-default ($color) {
    font-size: 1.1rem;
    border-radius: 20rem;
    font-weight: bold;
    padding: 0.6vh 14vw 0.6vh 1vw;
    border: 0.2rem solid $color;
}

.isNotPopping {
    z-index: 0;
}

.filter-btn-inactive {
    @include filter-btn-default($dark-green);
    border: 0.2rem solid $dark-green;
    background-color: white;
    &:focus{
        outline: none;
    }
}

.filter-btn-active {
    @include filter-btn-default($purple);
    color: white;
    background-image: linear-gradient(90deg, #7F00FF, #E100FF);
    outline: none;
    &:hover {
        color: white;
    }
    &:focus{
        outline: none;
    }
}

.personal-info-box {
    background-color: $light-gray;
    border-radius: 1.5rem;
    width: 65vw;
    background-image: '../images/final_questions/BG_structure.png';
    .not-obligatory-txt {
        color: $dark-gray;
        font-weight: bold;
    }
}

.darker-green-bg {
    background-color: $darker-green;
    padding-top: 3vh;
    padding-bottom: 5vh;
    // margin-bottom: 100vh;
    .white-btn {
        background-color: white;
        color: black;
        font-weight: bold;
        padding: 2vh 2vw 2vh 2vw;
        border-radius: 20rem;
    }
}

