$dark-green: #60847B;
$gray: #E2E2E2;

.gradient-top {
    width: 18vw;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-radius: 2vh;
    .gradient-bot {
        background-image: linear-gradient(90deg, #7F00FF, #E100FF);
    }
    .gradient-right-sidebar {
        background-image: linear-gradient(90deg, #F37335, #FDC830);
    }
}

.result-icon {
    border: none;
    margin-bottom: 1vh;
    img {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }
    div {
        border-radius: 0rem 0rem 1.5rem 1.5rem;
        background-color: $dark-green;
        height: 8vh;
        h5 {
            color: white;
            font-size: 1.5vw;
            font-weight: bold;
            padding-top: 2vh;
        }
    }
}

.result-bars {
    border: none;
    button {
        color: white;
        background-color: $dark-green;
        height: 3rem;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 0rem 0rem 1.5rem 1.5rem;
    }
    .result-bars-top {
        background-color: $gray;
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }
}

.result-card {
    background-color: white;
    border-bottom: 3px solid #EFEFEF;
    &:hover {
        cursor: pointer;
        background-color: #EFEFEF;
        border-radius: 1rem;
    }
}
