$primary: #60847b;
$secondary: #405952;

.single-test-container {
    position: relative;
    display: flex;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #E2E2E2;
    width: 80%;
    height: auto;
    left: 10%;
    background: none;

    .single-test {
        position: relative;
        padding: 100px 0px;
        display: flex;
        border: none;
        border-radius: 0;
        width: 80%;
        left: 10%;
        top: 0;
        background: none;
    }

    
}
.single-page {
    position: static;
    margin-bottom: 250px;

}

.options-text {
    position: static;
    padding: 0;
    font-size: 24px;
    text-align: center;
    margin-top: 2rem;
    letter-spacing: 0;
}

.options-container{
    position: relative;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 30px;
    margin-bottom: 3rem;
}

.options img {
    pointer-events: none;
}

.progress-container {
    position: fixed;
    width: 100%;
    height: 4rem;
    left: 0;
    bottom: 0rem;
    border-radius: 0;
    z-index: 3;

    .progress-bar {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $primary;
    }
}

.btn-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .button-custom {
        position: fixed;
        border: none;
        padding: 0 8rem;
        height: 5rem;
        color: #fff;
        letter-spacing: 1px;
        font-weight: 400;
        font-family: "montserrat";
        font-size: 26px;
        background-color: $secondary;
        border-radius: 10px;
        transition: 0.3s;
        bottom: 12vh;

        &::after{
            content: 'Nākošā lapa';
            justify-content: center;
            align-items: center;
            display: flex;
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $primary;
            bottom: 1vh;
            left: 0;
            z-index: 1;
            border-radius: inherit;            
        }

        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:hover {
            transition: 0.2s;
            background-color: $secondary;
            padding: 0 10rem;
            color: #ffffff;
        }

        &:active {
            box-shadow: none !important;
            background-color: $secondary !important;
        }

        &:active::after {
            transform: translate(0, 1vh);
        }
    }
}


// .nav-btns {
//     position: relative;
//     display: flex;
//     align-items: center;
//     align-content: center;
//     justify-content: center;
//     width: 100%;
//     top: 3rem;

//     & button {
//         outline: none;
//         border: none;
//         background-color: #60847b;
//         height: 100px;
//         width: 100px;
//         border-radius: 50%;
//         color: white;
//         font-size: 25px;
//     }
//     & i {
//         position: absolute;
//         top: 2.3rem;
//         left: 2.2rem;
//     }
//     .btn-left {
//         position: relative;
//         border-radius: 50%;
//         right: 8rem;
//     }

//     .btn-right {
//         position: relative;
//         border-radius: 50%;
//         left: 8rem;
//     }
// }

