.card {
    font-family: Montserrat, sans-serif;
    padding: 10px 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.6em;
    background: #E2E2E2 ;
    color: #000000;
    width: 25em;
    height: 38em;
    border: none;
    border-radius: 0px 0px 20px 20px;

    .top-bar-green {
        position: absolute;
        width: 100%;
        height: 30px;
        background: #60847b;
        left: 0;
        top: 0;
        padding: 0;
        margin: 0;
    }
    
    .top-bar-gradient {
        position: absolute;
        width: 100%;
        height: 10px;
        background: linear-gradient(
        to right, 
        #F37335,
        #FDC830);
        left: 0;
        top: 30px;
        padding: 0;
        margin: 0;
    }
    

    .card-header {
        position: relative;
        top: 3em;
        width: 100%;
        height: 9em;
        border-bottom: 2px solid rgba(0, 0, 0, 0.125);
        list-style: none;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;


        & h1 {
            font-size: 24px;
            line-height: 29px;
            font-weight: bold;
        }

        & h2 {
            font-size: 16px;
            line-height: 29px;
            font-weight: bold;
        }
    }

    .card-details {
        list-style: none;
        position: absolute;
        top: 13em;
        line-height: 2em;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 7%;

        .desc {
        width: 20em;
        height: 1px;
        position: relative;
        margin-top: 1.5em;
        padding: 1.5em 0;
        line-height: 1.6em;
        border-top: 2px solid rgba(0, 0, 0, 0.125);

        b {
            display: block;
        }
    }
}

    b {
        letter-spacing: 2px;
        font-size: 18px;
    }
}


