
.detailed-university {
    font-family: Montserrat;
    padding: 100px;

    .sub-card {
        border-radius: 0px 7px 7px 0px;
        background-color: #e2e2e2;
        padding: 2rem 6rem;
    }

    .info {
        justify-content: center;
        align-items: center;
        display: flex;
        margin-bottom: 2rem;
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        color: #000000;
    }

    .title {
        justify-content: center;
        align-items: center;
        display: flex;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        align-items: center;
        margin-bottom: 10px;

        color: #000000;
    }
}

.color-strip-purple {
    margin: 50px;
    border: 0rem;
    border-left-width: 1rem;
    border-left-style: solid;

    border-image: linear-gradient(to bottom,
        #E100FF 0%,
        #7F00FF 100%) 1 100%;
}

.color-strip-orange {
    margin: 50px;
    border: 0rem;
    border-left-width: 1rem;
    border-left-style: solid;

    border-image: linear-gradient(to bottom,
            #F37335 0%,
            #FDC830 100%) 1 100%;
}
