$h1-text: #1E1E1E;
$quote-text: #636363;
$auth-text: #BCBCBC;

@mixin txt-size-n-color ($color, $font-size) {
    font-size: $font-size;
    color: $color;
}

@mixin button-gradient ($degrees, $color1, $color2) {
    background-image: linear-gradient($degrees, $color1, $color2);
}

.space-height {
    height: 17rem;
}

.white-space {
    height: 10rem;

    h1 {
        margin-top: 5rem;
    }
}

.index-background {
    background-image: url("../core/images/IndexPage/Path.png");
    height: 76vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gradient-purple {
    @include button-gradient(140.67deg, #E100FF, #7F00FF);
}

.gradient-orange {
    @include button-gradient(140.67deg, #FDC830, #F37335)
}

.btn-box {
    background-color: $h1-text;
    height: 14rem;
    width: 15rem;
    border-radius: 7px;
    margin-top: 10rem;
    a {
        font-weight: 600;
        margin-top: 1.6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        @include txt-size-n-color(white, 1.5rem);
    }
}

.img-bg {
    position: relative;
}

.img-quotes {
    height: 4%;
    width: 4%;
}

.btn-purple-dsc-txt {
    @include txt-size-n-color(white, 1.3rem);
    padding: 1.3rem;
}

.btn-orange-dsc-txt {
    @include txt-size-n-color(white, 1.8rem);
    padding: 1.3rem;
    padding-top: 1.9rem;
}

.initial-txt {
    @include txt-size-n-color($h1-text, 2.4rem);
    font-weight: bold;
}

.quote-txt {
    @include txt-size-n-color($quote-text, 1.5rem);
    margin-bottom: 0;
}

.quote-auth {
    @include txt-size-n-color($auth-text, 1.5rem);
    text-align: right;
    margin-right: 29.5rem;
}
