<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymelead.org">

<head lang="en"> </head>

<body>
    <nav th:fragment="navbar">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="/" >Sākums</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/admin/all-user}">Lietotāji</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/all-universities}">Augstskolas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/all-programmes}">Programmas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/profile}">Profils</a>
            </li>
        </ul>
    </nav>
</body>

</html>
