*,
*::after,
*::before {
    box-sizing: border-box;
}

@import "./components/cards";

@import "./components/popupcard";

//
// MIXINS
//
@mixin button-custom {
    position: relative;
    border: none;
    padding: 10px 15px;
    color: #ffffff;
    font-family: "montserrat";
    font-size: 18px;
    letter-spacing: 2px;
    background-color: #60847b;
    border-radius: 10px;
    transition: 0.3s;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &:hover {
        transition: 0.3s;
        letter-spacing: 6px;
        background-color: #405952;
        color: #ffffff;
    }

    &:active {
        transition: 0.2s;
        background-color: #53736A;
        background-color:  !important;
        box-shadow: none !important;
    }
}

@mixin container-custom {
    border: 1px solid #60847b;
    border-radius: 7px;
}
// 
// MIXINS
//


.popup-btn {
    @include button-custom;
    margin: 30px;
    padding: 15px 40px;
}

.card-btn {
    @include button-custom;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 0;
}
