<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Profils</title>
</head>

<body>
    <form th:action="@{/profile}" th:object="${user}" method="post">
        <div>
            <p><b>Lietotajvārds</b></p>
            <input type="text" th:field="*{username}" th:value="${username}" readonly />
        </div>
        <div>
            <p><b>Vārds</b></p>
            <input type="text" th:field="*{firstName}" th:value="${uFirstName}" />
        </div>
        <div>
            <p><b>Uzvārds</b></p>
            <input type="text" th:field="*{lastName}" th:value="${uLastName}" />
        </div>
        <div>
            <p><b>E-pasts</b></p>
            <input type="text" th:field="*{email}" th:value="${uEmail}" />
        </div>
        <div>
            <p><b>Pievienošanās datums</b></p>
            <input type="text" th:field="*{dateJoined}" th:value="${uDateJoined}" readonly />
        </div>
        <button type="submit">Atjaunot informāciju</button>
    </form>
    <form>
        <div>
            <p>Nomainīt paroli<a style="text-decoration: none; font-weight: bold;"
                    th:href="@{/profile/password-update}">here</a></p>
        </div>
    </form>
</body>

</html>