<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Atjaunot informāciju</title>
</head>

<body>
    <div style="margin-bottom: 3cm;" th:replace="fragments/navbar.html :: navbar"></div>
    <form th:action="@{/admin/new-programme/}" th:object="${programme}" method="post">
        <div>
            <p><b>Nosaukums</b></p>
            <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            <input type="text" th:field="*{title}" th:value="${title}" />
        </div>
        <div>
            <p><b>Kods</b></p>
            <p th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></p>
            <input type="text" th:field="*{code}" th:value="${code}"/>
        </div>
        <div>
            <p><b>Kredītpunkti</b></p>
            <p th:if="${#fields.hasErrors('creditPoints')}" th:errors="*{creditPoints}"></p>
            <input type="text" th:field="*{creditPoints}" th:value="${creditPoints}" />
        </div>
        <div>
            <p><b>Apraksts</b></p>
            <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
            <textarea th:field="*{description}" th:value="${description}"/>
        </div>
        <div>
            <p><b>Mājaslapa</b></p>
            <p th:if="${#fields.hasErrors('website')}" th:errors="*{website}"></p>
            <input type="text" th:field="*{website}" th:value="${website}" />
        </div>
        <div>
            <p><b>Telefona numurs</b></p>
            <p th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
            <input type="text" th:field="*{phone}" th:value="${phone}" />
        </div>
        <div>
            <p><b>E-pasts</b></p>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
            <input type="text" th:field="*{email}" th:value="${email}" />
        </div>
        <div>
            <p><b>Grāds</b></p>
            <select name="degree">
                <option th:each="degree : ${allDegrees}" th:value="${degree.getId()}" th:text="${degree.getName()}"></option>
            </select>
        </div>
        <div>
            <p><b>Fakultāte</b></p>
            <select name="faculty">
                <option th:each="faculty : ${allFaculties}"
                    th:value="${faculty.getId()}" th:text="${faculty.getName()}"></option>
            </select>
        </div>
        <div>
            <p><b>Programmas tips</b></p>
            <select name="programme_type">
                <option th:each="programme_type : ${allProgrammeTypes}"
                    th:value="${programme_type.getId()}" th:text="${programme_type.getName()}"></option>
            </select>
        </div>
        <div>
            <p><b>Mācību iestāde</b></p>
            <select name="university" >
                <option th:each="university : ${allUniversities}" th:value="${university.getId()}" th:text="${university.getName()}"></option>
            </select>
        </div>
        <div>
            <p><b>Studiju ilgums</b></p>
            <select name="duration" multiple>
                <option th:each="duration : ${allDurations}"
                     th:value="${duration.getId()}"
                    th:text="${duration.getLength()}"></option>
            </select>
        </div>
        <div>
            <p><b>Studiju maksa</b></p>
            <select name="payment" multiple>
                <option th:each="payment : ${allPayments}"
                    th:value="${payment.getId()}" th:text="${payment.getType()}"></option>
        </select>
        </div>
        <div>
            <p><b>Studiju forma</b></p>
            <select name="studyForms" multiple>
                <option th:each="studyForms : ${allStudyForms}" th:value="${studyForms.getId()}"
                    th:text="${studyForms.getName()}"></option>
        </select>
        </div>
        <div>
            <p><b>Studiju valoda</b></p>
            <select name="language" multiple>
                <option th:each="language : ${allLanguages}"
                    th:value="${language.getId()}" th:text="${language.getName()}"></option>
            </select>
        </div>
        <div>
            <p><b>Studiju tips</b></p>
            <select name="studyType" multiple>
                <option th:each="studyType : ${allStudyTypes}"
                    th:value="${studyType.getId()}" th:text="${studyType.getType()}"></option>
            </select>
        </div>
        <button type="submit">Saglabāt</button>
    </form>
</body>

</html>
