<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Visas programmas</title>
</head>

<body>
    <div style="margin-bottom: 3cm;" th:replace="fragments/navbar.html :: navbar"></div>
    <style th:replace="fragments/table-style.html :: table"></style>
    <div style="position: absolute; right: 0px; margin-top: 2px;">
        <a th:href="@{/admin/new-programme}" class="btn btn-secondary btn-lg active" role="btn-outline-success"
            aria-pressed="true">Izveidot
            jaunu</a>
    </div>
    <form>
        <div>
            <table id="table">
                <tr>
                    <th>Nosaukums</th>
                    <th>Aktīva</th>
                    <th>Kredītpunkti</th>
                    <th>Fakultāte</th>
                    <th>Universitāte</th>
                    <th>Darbības</th>
                </tr>
                <tr th:each="programme : ${programmes}">
                    <td th:text="${programme.getTitle()} " />
                    <td th:text="${programme.getIsActive()} " />
                    <td th:text="${programme.getCreditPoints()}" />
                    <td th:text="${programme.getFaculty().getName()}" />
                    <td th:text="${programme.getUniversity().getName()}" />
                    <td>
                        <table>
                            <tr>
                                <a class="button" th:href="@{'/admin/programme-update/' + ${programme.getId()}}">Atjaunot
                                </a>
                            </tr>
                            <tr>
                                <a class="button"
                                    th:href="@{'/admin/programme-delete/' + ${programme.getId()}}">Dzēst</a>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>

</html>
