<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Atjaunot informāciju</title>
</head>

<body>
    <div style="margin-bottom: 3cm;" th:replace="fragments/navbar.html :: navbar"></div>
    <form th:action="@{/admin/university-update}" th:object="${university}" method="post">
        <div>
            <input type="text" th:field=*{id} th:value="*{id}" readonly hidden />
        </div>
        <div>
            <p><b>Nosaukums</b></p>
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            <input type="text" th:field="*{name}" th:value="${name}" />
        </div>
        <div>
            <p><b>Adrese</b></p>
            <select name="degree">
                <option th:if="${not university.getLocation().equals(null)}" th:each="location : ${allLocations}"
                    th:selected="${university.getLocation()==location}" th:value="${location.getId()}"
                    th:text="${location.getAddress()}"></option>
                <option th:unless="${not university.getLocation().equals(null)}" th:each="location : ${allLocations}"
                    th:value="${location.getId()}" th:text="${location.getAddress()}"></option>
            </select>
        </div>
        <div>
            <label>Ir aktīvs</label>
            <input type="checkbox" name="isActive" th:checked="${university.getIsActive()}" />
        </div>
        <button type="submit">Saglabāt</button>
    </form>
</body>

</html>
