<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Visas iestādes</title>
</head>

<body>
    <div style="margin-bottom: 3cm;" th:replace="fragments/navbar.html :: navbar"></div>
    <style th:replace="fragments/table-style.html :: table"></style>
    <div style="position: absolute; right: 0px; margin-top: 5px;">
        <a th:href="@{/admin/new-university}" class="btn btn-secondary btn-lg active">Izveidot
            jaunu</a>
    </div>
    <div style="margin-bottom: 1cm; margin-right: 5px;">
        <form th:action="@{/admin/all-universities}" method="get">
            <input type="text" name="name" placeholder="Iestādes nosaukums..">
            <input type="text" name="city" placeholder="Pilsēta..">
            <button type="submit">Meklēt</button>
        </form>
    </div>
    <form>
        <div>
            <table id="table">
                <tr>
                    <th>Nosaukums</th>
                    <th>Adrese</th>
                    <th>Aktīvs</th>
                    <th>Darbības</th>
                </tr>
                <tr th:each=" university : ${universities}">
                    <td th:text="${university.getName()} " />
                    <td th:text="${university.getLocation().getAddress()}" />
                    <td th:text="${university.getIsActive()}" />
                    <td>
                        <table>
                            <tr>
                                <a class="button"
                                    th:href="@{'/admin/university-update/' + ${university.getId()}}">Atjaunot
                                </a>
                            </tr>
                            <tr>
                                <a class="button"
                                    th:href="@{'/admin/university-delete/' + ${university.getId()}}">Dzēst</a>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>

</html>
