<!DOCTYPE html>
<html class="h-100" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <th:block th:include="fragments/head :: head"></th:block>
    <title>Visi lietotāji</title>
</head>

<body>
    <div style="margin-bottom: 3cm;" th:replace="fragments/navbar.html :: navbar"></div>
    <style th:replace="fragments/table-style.html :: table"></style>
    <div style="position: absolute; right: 0px; margin-top: 5px;">
        <a th:href="@{/admin/new-user}" class="btn btn-secondary btn-lg active">Izveidot
            jaunu</a>
    </div>
    <form th:action="@{/admin/all-user}" method="get">
        <div>
            <input type="text" name="username" placeholder="Lietotājvārds..">
            <input type="text" name="lastName" placeholder="Uzvārds..">
            <input type="text" name="email" placeholder="E-pasts..">
        </div>
        <div>
            <label>Ir aktīvs</label>
            <input type="checkbox" name="isActive" />
            <label>Ir administrācija</label>
            <input type="checkbox" name="isSuperuser" />
            <label>Ir personāls</label>
            <input type="checkbox" name="isStaff" />
        </div>
        <button type="submit">Meklēt</button>
    </form>
    <form>
        <div>
            <table id="table">
                <tr>
                    <th>Lietotājvārds</th>
                    <th>Vārds</th>
                    <th>Uzvārds</th>
                    <th>E-pasts</th>
                    <th>Darbības</th>
                </tr>
                <tr th:each="user : ${allUsers}">
                    <td th:text="${user.getUsername()} " />
                    <td th:text="${user.getFirstName()} " />
                    <td th:text="${user.getLastName()} " />
                    <td th:text="${user.getEmail()}" />
                    <td>
                        <table>
                            <tr>
                                <a class="button" th:href="@{'/admin/user-update/' + ${user.getId()}}">Atjaunot
                                </a>
                            </tr>
                            <tr>
                                <a class="button" th:href="@{'/admin/user-delete/' + ${user.getId()}}">Dzēst</a>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>

</html>
