$search-color: #69737F;
$selected-color: #60847B;

.search-container{
    position: relative;
    right: 15rem;
    align-items: center;
    align-self: center;
    justify-content: center;
}
.search {
    z-index: 100;
    border: 0.25rem solid $search-color;
    border-radius: 1rem;
    height: 3.5rem;
    background-color: #f8f9fa;
    position: absolute;
    left: 0;

    img {
        position: relative;
        left: 0.5rem;
        top: 0.5rem;
        padding-right: 0rem;
        // margin-right: 0.5rem;
        width: 2rem;
        height: 2rem;

        &:hover {
            cursor: pointer;
        }
    }

    input[type='text'] {
        position: relative;
        top: 20%;
        left: 0rem;
        margin-top: 0.5rem;
        height: 2rem;
        width: 10rem;
        border: none;
        outline: none;
        font-size: 1.2rem;
        padding: 0rem;
        background: #f8f9fa;
        font-family: "montserrat";
        color: #69737F;
    }
}

.clickable {
    &:hover {
        cursor: pointer;
    }
}

.navbar {
    button {
        position: relative;
        padding: 0px 30px;
        border-radius: 1rem;
        letter-spacing: 0.1rem;
        font-family: "montserrat";
        background-color: $selected-color;
        color: white;
        width: flex;
        height: 3.5rem;
        transition: 0.3s;
        left: 4.6rem;
        &:focus {
            outline: none;
            box-shadow: none;
        }

        &:hover {
            transition: 0.3s;
            background-color: #405952;
            color: #ffffff;
        }

        &:active {
            transition: 0.2s;
            background-color: #53736A;
            background-color:  !important;
            box-shadow: none !important;
        }
    }
    
    .nav-link {
        position: relative;
        height: 3rem;
        outline: none;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        text-decoration: none;
        padding: 10px 20px;
        bottom: 10px;
        margin: 0px 30px;
        width: 100px;

        border-bottom: 5px solid #60847B;

        transition: 0.2s;

        &:hover {
            padding-bottom: 20px;
            border-width: 10px;
            bottom: 25px;
        }
    }

    .selected-navbar-btn {
        position: relative;
        box-sizing: border-box;
        border-bottom-style: solid;
        border-color: #405952;
        padding-bottom: 20px;
        border-width: 10px;
        bottom: 25px;

    }
}
